{%extends "html/layout.html"%}
{%block body%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/productForm.css' %}" />
    <form  method="POST">
        {%csrf_token%}
        <ul><h1 style="color: #212529;"> Add Product</h1></ul>
        <ul>
            Name: {{form.name}}
        </ul>
        <ul>
             Description: {{form.description}}
        </ul>
        <ul>
             Shop: {{form.shop}}
        </ul>
        <ul>
             Category: {{form.category}}
        </ul>

    <ul><button type="submit" >Submit</button></ul>
    </form>

{% endblock %} 