{%extends "html/layout.html"%}
{%block body%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/categorylist.css' %}" />
<div>
    <h1 class="title">Types of Categories </h1>
        <div class="main">
            {%for category in categories%}
            <div class="card">
                <ul>{{category.name}}   </ul>
                    <ul><button class="button">
                        <a  class="button" href="{%url 'main:category-detail' category.id %}">View Detail</a>
                    </button></ul>
              

            </div>
            {%endfor%}
        </div>

</div>
{%endblock%}