{%extends "html/layout.html"%}
{%block body%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/orderdetail.css' %}" />
<div class="main">
    <h1>Customer Detail</h1>
    <ul>ID:- {{customer.id}}</ul>
    <ul>Name:- {{customer.name}}</ul>
    <ul>Username:- {{customer.username}}</ul>
    <ul>Password:- {{customer.password}}</ul>
    <ul>
        <a class="btn" href="{%url 'main:update-customer' customer.id%}">Update</a>
        <a class="btn" href="{%url 'main:delete-customer' customer.id%}">Delete</a>

    </ul>
</div>
{%endblock%}