{%extends "html/layout.html"%}
{%block body%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
<h1 style="color: #212529;">Customer Lists</h1>

<a id="adda" class="button" href="{%url 'main:add-customer'%}"> + </a>

{%for customer in customers%}
<div class="card">
    <ul style="flex-grow: 1;">ID-:{{customer.id}} Customer Name:- {{customer.name}}
  
    </ul>
    <a id="addb" class="button1" href="{%url 'main:customer-profile' customer.id%}">View Detail</a>
</div>
{%endfor%}
{%endblock%}