{%extends "html/layout.html"%}
{%block body%}
<h1>Hi Admin!!</h1>

<ul><button><a href="{%url 'main:product'%}">View Products</a></button></ul>
<ul><button><a href="{%url 'main:order'%}">View Order List</a></button></ul>
<ul><button><a href="{%url 'main:category'%}">View Categories List</a></button></ul>
<ul><button><a href="{%url 'main:displayVendor'%}">View Vendor List</a></button></ul>
<ul><button><a href="{%url 'main:displayCustomer'%}">View Customer List</a></button></ul>
<ul><button><a href="{%url 'main:shoplist'%}">View Shops</a></button></ul>
{%endblock%}