<!DOCTYPE html>
<html>

<head>
    <title>
        Ecommerce website
    </title>

    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/stylesheet.css' %}" />

</head>

<body>
 
    <div>
        <div class="sidebar">
            <a class="active" href="{%url 'main:product'%}">Products</a>
            <a href="{%url 'main:order'%}">Order List</a>
            <a href="{%url 'main:category'%}">Categories List</a>
            <a href="{%url 'main:displayVendor'%}">Vendor List</a>
            <a href="{%url 'main:displayCustomer'%}">Customer List</a>
            <a href="{%url 'main:shoplist'%}">Shops</a>
            <a href="{%url 'main:viewDashboard'%}">Dashboard</a>
          </div>
    </div>
    
    

  
  <div class="content">
    {%block body%}
    {% endblock %}
  </div>

</body>

</html>