{%extends "html/layout.html"%}
{%block body%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />

    <h1 style="color: #212529;">Product List</h1>
<a id="adda" class="button" href="{%url 'main:add-product'%}"> + </a>


<div>
        <div class="main">
                {%for product in products%}
                <div class="card">

                        <div class="container">
                                <img src="/icon/product.jpg" alt="Avatar" style="width:100%; ">
                                <div class="name">
                                        <ul class="ul">Name: {{product.name}}
                                </div>
                                <div class="buttongrp">
                                        <button class="button-small">
                                                <a class="button-small"
                                                        href="{%url 'main:product-detail' product.id %}">View Detail</a>
                                        </button>
                                        <button class="button-small">
                                                <a class="button-small"
                                                        href="{%url 'main:delete-product' product.id %}">Delete</a>
                                        </button>
                                </div>
                        </div>

                </div>

                {%endfor%}
        </div>
</div>
{% endblock %}